html {
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
}

body {
    font-family: "Fredoka", "Arial", sans-serif;
    font-display: swap;
    flex-direction: column;
    margin: 0 auto;
    height: 100vh;
    font-size: 62.5%;
    --primary-color: #396afc;
    --primary-dark: rgb(33, 33, 33);
    --primary-light: #ECE9E6;
}

.wrapper {  
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--primary-color);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
  
.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--primary-color);   /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar--links {
    margin-right: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar--links > p {
    display: inline;
    margin: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 1.4em;
    color: var(--primary-dark);
}

.banner {
    background: var(--primary-color);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10em;
    margin-bottom: 4em;
}

.banner--inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#site-name {
    color: var(--primary-light); 
    text-transform: lowercase;
    font-weight: 500;
    font-size: 2em;
    padding-left: 1em;
    letter-spacing: 1px;
    align-self: flex-start;
    flex-grow: 1;
}

#site-name > span {
    font-weight: 300;
}

.main { 
    margin-top: 2em;
    padding: 1em;
    visibility: hidden;
    height: 100%;
    background: var(--primary-light);   /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#userInput {
    width: 600px;
    height: 30px;
    display: inline-flex;
    letter-spacing: 0.1em;
    border: none;
    background-color: transparent;
}

ol {
    list-style: none;
    counter-reset: item;
    padding: 0;
}

li {
    font-size: 1.3rem;
    padding: 0.2em;
    font-style: italic;
}

li:before {
    margin-right: 10px;
    counter-increment: item;
    content: counter(item);
    background: rgb(179, 187, 189);
    border-radius: 20%;
    color: var(--primary-light); 
    width: 1.2em;
    font-size: 0.8em;
    text-align: center;
    display: inline-block;
}

.phonetic {
    padding: 10px;
    line-height: 1.6em;
}

#input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid 1px var(--primary-light); 
    padding: .5em;
    background-color: transparent;
}

.material-icons {
    color: #9f9d9d;
}

.results {
    padding: 1em;
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.results--info {
    padding: 1em;
}

.results--info > p {
    font-size: 1.6em;
}

.results--phonetic {
    display: inline;
    margin-right: 1em;
}

h1 { 
    font-weight: 400;
    font-size: 5em;
    color: var(--primary-light); 
    letter-spacing: 1px;
}

.word {
    color: rgb(143, 194, 40);
    font-size: 1em;
    font-weight: 600;
}


h3 { 
    font-weight: 600;
    font-size: 4em;
    color: #272a2d;
    letter-spacing: 1px;
}

h3::first-letter {
    text-transform:capitalize;
}

.user {
    color: var(--primary-dark); 
}


@media only screen and (max-width: 600px) {
    #userInput {
        width: 100px;
    }
    .navbar--links {
        margin-top: .4em;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .navbar--links > p {
        padding: .5em;
        margin: 0;
    }
    h1 { 
        font-size: 2.3em;
    }
  }